*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rubik' , sans-serif;
    list-style: none;
    text-decoration: none;
    
}
:root{
     --bg-color:#1f1f21;
     --text-color:#fff;
     --main-color:#ffae00;
     --big-font:7rem;
     --p-font:1.1rem;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
    overflow-x:hidden ;
}
header{
    position:relative;
    top:0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
   /* color:var(--main-color);*/
}
.logo span{
    color:var(--main-color);
}
.navbar{
    display: flex;
    padding-right: 170px;
    margin-left: 25px;
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color:var(--text-color);
    margin: 0 15px;
    transition: all ease.50s;
}
.navbar a:hover{
    color:var(--main-color);
}
.navbar a.active{
    color:var(--main-color);
}
.menu-btn{
    background-color: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid#3b3b3b;
    padding:10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap:10px;
    margin-left:5px;
}
.menu-icon{
    font-size: 28px;
    margin-left: 5px;
}
section{
    padding:0 15%;
}
.home{
    position: relative;
    width: 110%;
    height: 150vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:30px;
    padding-bottom: 200px;
    margin-block-start: 5px;
    margin-bottom: 10px;
}
.home-text{
    padding-bottom: 120px;
}
.home-img{
    width: 700px;
    height: 700px;
}
.home-img img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}
.home-text span{
    padding: px 25px;
    background-color: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid#3b3b3b;
    border-radius: 100px;
    color:var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.home-text h1{
    font-size: var(--p-font);
    margin: 23px 0;
    align-items: center;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 20px;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 14px 34px;
    background:var(--main-color);
    color:var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}
.btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color:var(--main-color);
}
.two{
    background: #141414;
    border:2px solid #141414;
    color:var(--text-color);
    margin-left: 25px;
}
.two:hover{
    color:#141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}
.share{
    position: relative;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
    padding-top:100px;
}
.share p{
    font-size: 17px;
    color:var(--text-color);
    margin-right: 15px;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid#3b3b3b;
    border-radius: 50%;
    color:var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}
.social i:hover{
    transform: translateY(-10px);
}

@media(max-width:1850px){
    header{
        padding:15px 8%;
        transition: .2s;
    }
    section{
        padding: 0 8%;
        transition: .2s;
    }
    .share{
        left: 8%;
        transition: .2s;
    }
}
@media (max-width:1370px){
    header{
        padding: 15px 4%;
        transition: .2s;
    }
    section{
        padding:0 4%;
        transition: .2s;
    }
    .share{
        left:4%;
        transition: .2s;
    }
    :root{
        --big-font:5.5rem;
        --p-font:1rem;
        transition:.2s;
    }
}

@media (max-width:1020px){
    .navbar a{
        margin: 1 15px;;
    }
    :root{
        --big-font:5rem;
        --p-font:1rem;
        transition:.2s;
    }
}

.home-img img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY();
    }
}
.mh-skills{
    margin-top:-330px;
}

.container{
    margin-top: 40px;
}

.mh-professional-progress li{
    display:inline-block;
    margin:0 auto;
    float: none;
    width:48%;
    margin-bottom: 30px;
    text-align: center;
}*/
.mh-progress{
    margin-bottom: 10px;
    font:900 1.14285/1  Cinzerl, cursive;
    color:white;
}


.candidatos{
    margin-top: 20px;
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.candidatos .parcial .info{
    position: relative;
    font-family:'Poppins', sans-serif ;
}
.candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity:0.9;
    font-family:'Poppins', sans-serif ;
}
.candidatos .parcial .info .nome .percentage-num{
    position: absolute;
    top:0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar{
    position: relative;
    max-width:600px;
    height: 7px;
    margin:30px 0 2px;
    border-radius: 10px;
    background: #9bbd11;
}
.candidatos .parcial .percentagem{
    position: absolute;
    top:0;
    right: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0c0c0c;
    transition: 3s all;
    animation-name: animationProgress;
    font-family:'Poppins', sans-serif ;
}


.bar{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

.contact-card {
    background-color:rgba(103, 101, 101, 0.269);
    padding: 50px;
    border-radius: var(--radius-20);
    gap:80px;
    width: 600px;
    border:1px ;
    border-radius: 50px;
    margin:auto;
    margin-top: 100px;
}

.contact .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    margin:0;
}
  
  .contact-card .card-subtitle {
    color: var(--orange-soda);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact .section-title {
    text-align: left;
    margin-block-end: 30px;
  }
  
  .contact-form { 
    margin-block-end: 50px; 
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;

}
  
  .contact-input {
    background-color: var(--bg-color);
    color: var(--manatee);
    border-radius: var(--radius-5);
    padding: 15px 25px;
    font-size: var(--fs-5);
    margin-block-end: 15px;
  }
  
  .contact-input::placeholder { color: inherit; }
  
  textarea.contact-input {
    resize: vertical;
    min-height: 100px;
    height: 180px;
    max-height: 300px;
  }
  
  .btn-submit {
    background-color: var(--bg-color);
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-5);
    width: 100%;
    padding: 10px;
    border-radius: var(--radius-5);
    transition: var(--transition-2);
  }
  
  .btn-submit:is(:hover, :focus) {
    background-color: var(--main-color);
    color: var(--white);
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .contact-item:not(:last-child) { margin-block-end: 20px; }
  
  .contact-icon {
    background-color: var(--glaucous);
    font-size: 2.4rem;
    padding: 20px;
    border-radius: 50%;
  }
  
  .contact-item-title {
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact-item-link { transition: var(--transition-1); }
  
  .contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }
  
  
.proj{
    padding-left: 10px;
    margin-top: 80px;
    box-sizing: border-box;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-color: rgb(75, 70, 70);
    width: 150px;
    border: 5px solid rgb(10, 13, 10);
    padding: 12px;
    margin-left: 80px;
   border-radius: 50px;
   color:#191919;
   
}

  .home-1 {
    position: relative;
    width: 110%;
    height: 150vh;
    display: flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
    padding-bottom: 0;
    margin-block-start: 5px;
    padding-left: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: rgb(53, 49, 49);
  width: 1000px;
  height:300px;
  border: 5px solid rgb(10, 13, 10);
  padding: 30px;
  margin-left: 80px;
  border-radius: 50px;
}
.home-text-1{
    padding-bottom: 10px;
    margin-top: -100px;
}
.paidea-img{
    width: 400px;
    height: 400px;
    margin-bottom: -180px;
}
.paidea-img img{
    width: 70%;
    height: 50%;
    border-radius: 50px;
    object-fit: contain;
   
}
.home-2{
    position: relative;
    width: 110%;
    height: 150vh;
    display: flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
    padding-bottom: 0;
    margin-block-start: 5px;
    padding-left: 50px;
    margin-top: 30px;
    box-sizing: border-box;
    background-color: rgb(53, 49, 49);
  width: 1000px;
  height:300px;
  border: 5px solid rgb(10, 13, 10);
  padding: 30px;
  margin-left: 80px;
  border-radius: 50px;
}
.home-text-2{
    padding-bottom: 2px;
    margin-top: -100px;
}

.ration-img{
    width: 500px;
    height: 400px;
    margin-bottom: -180px;
}
.ration-img img{
    width: 80%;
    height: 50%;
    border-radius: 100px;
    object-fit: contain;
}